## Data Science Tutorials

#### Numpy Arrays

Getting Started

In [1]:
# Import the numpy package as np
import numpy as np

# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Create 2 numpy arrays from height and weight
np_height = np.array(height)
np_weight = np.array(weight)

print(type(np_height))

<class 'numpy.ndarray'>

Element-wise Calculations

In [2]:
# Calculate bmi
bmi = np_weight / np_height ** 2

# Print the result
print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

Subsets

In [3]:
# For a boolean response
bmi > 23

# Print only those observations above 23
bmi[bmi > 23]

array([23.34925219, 27.88755755, 28.75558507, 25.48723993, 23.87257618,
       25.84368152])

In [4]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Create a numpy array np_weight_kg from weight_kg
np_weight_kg = np.array(weight_kg)

# Create np_weight_lbs from np_weight_kg
np_weight_lbs = np_weight_kg * 2.2

# Print out np_weight_lbs
print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]

#### Pandas Basics

Pandas Dataframes

In [5]:
import pandas as pd

# creating pandas dataframes
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [6]:
# changing indices for the dataframe
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [7]:
# importing data from a csv file
cust = pd.read_csv('customers-100.csv')

# Print out cars
cust.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

Indexing Dataframes

In [8]:
cust = pd.read_csv('customers-100.csv', index_col = 1)

# Print out country column as Pandas Series
print(cust['First Name'])

Customer Id
DD37Cf93aecA6Dc      Sheryl
1Ef7b82A4CAAD10     Preston
6F94879bDAfE5a6         Roy
5Cef8BFA16c5e3c       Linda
053d585Ab6b3159      Joanna
                     ...
cb8E23e48d22Eae        Karl
CeD220bdAaCfaDf        Lynn
28CDbC0dFe4b1Db        Fred
c23d1D9EE8DEB0A      Yvonne
2354a0E336A91A1    Clarence
Name: First Name, Length: 100, dtype: object

In [9]:
# Print out country column as Pandas DataFrame
print(cust[['First Name']])

                First Name
Customer Id
DD37Cf93aecA6Dc     Sheryl
1Ef7b82A4CAAD10    Preston
6F94879bDAfE5a6        Roy
5Cef8BFA16c5e3c      Linda
053d585Ab6b3159     Joanna
...                    ...
cb8E23e48d22Eae       Karl
CeD220bdAaCfaDf       Lynn
28CDbC0dFe4b1Db       Fred
c23d1D9EE8DEB0A     Yvonne
2354a0E336A91A1   Clarence

[100 rows x 1 columns]

In [10]:
# Print out DataFrame with just 2 columns
print(cust[['First Name', 'Country']])

                First Name                     Country
Customer Id
DD37Cf93aecA6Dc     Sheryl                       Chile
1Ef7b82A4CAAD10    Preston                    Djibouti
6F94879bDAfE5a6        Roy         Antigua and Barbuda
5Cef8BFA16c5e3c      Linda          Dominican Republic
053d585Ab6b3159     Joanna  Slovakia (Slovak Republic)
...                    ...                         ...
cb8E23e48d22Eae       Karl                      Guyana
CeD220bdAaCfaDf       Lynn                   Sri Lanka
28CDbC0dFe4b1Db       Fred             Solomon Islands
c23d1D9EE8DEB0A     Yvonne                       Aruba
2354a0E336A91A1   Clarence                    Honduras

[100 rows x 2 columns]

In [11]:
# accessing rows
# Print out first 4 observations
cust[0:4]

,Index,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Customer Id,,,,,,,,,,,
DD37Cf93aecA6Dc,1,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1Ef7b82A4CAAD10,2,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
6F94879bDAfE5a6,3,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
5Cef8BFA16c5e3c,4,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/

In [12]:
# Print out fifth and sixth observation
cust[4:6]

,Index,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Customer Id,,,,,,,,,,,
053d585Ab6b3159,5,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
2d08FB17EE273F4,6,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/

In [13]:
# using iloc
cust.iloc[2]

Index                                       3
First Name                                Roy
Last Name                               Berry
Company                         Murillo-Perry
City                            Isabelborough
Country                   Antigua and Barbuda
Phone 1                       +1-539-402-0259
Phone 2                   (496)978-3969x58947
Email                     beckycarr@hogan.com
Subscription Date                  2020-03-25
Website              http://www.lawrence.com/
Name: 6F94879bDAfE5a6, dtype: object

In [14]:
# using loc
cust.loc[['5Cef8BFA16c5e3c']]

,Index,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Customer Id,,,,,,,,,,,
5Cef8BFA16c5e3c,4,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/