## Python Basics

### Section 1 - Fundamentals

#### Syntax

Whitespace and indentation

In [1]:
def main():
    i = 1
    max = 10
    while (i < max):
        print(i, end = " ")
        i = i + 1

# call function main 
main()

1 2 3 4 5 6 7 8 9

Comments

In [2]:
# This is a single line comment in Python

""" This is a one-line doc string """

""" these are multi-line 
    doc strings
"""

' these are multi-line \n    doc strings\n'

Continuation of Statements

In [3]:
a = True
b = False
c = True

if (a == True) and (b == False) and \
   (c == True):
    print("Continuation of statements")

Continuation of statements

Identifiers

In [4]:
message = 'Hello, World!'
print(message)

# here 'message' is an identifier

Hello, World!

Keywords

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

String Literals

In [6]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

#### Variables

In [7]:
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

Creating Variables

In [8]:
counter = 1
print(counter)

1

Naming Variables

The following are the variable rules that you should keep in mind:

- Variable names can contain only letters, numbers, and underscores (_). They can start with a letter or an underscore (_), not with a number.
- Variable names cannot contain spaces. To separate words in variables, you use underscores for example sorted_list.
- Variable names cannot be the same as keywords, reserved words, and built-in functions in Python.

The following guidelines help you define good variable names:

- Variable names should be concise and descriptive. For example, the active_user variable is more descriptive than the au.
- Use underscores (_) to separate multiple words in the variable names.
- Avoid using the letter l and the uppercase letter O because they look like the number 1 and 0.

#### Strings

In [9]:
message = "It's a string" # double quotes are used when the string contains single quotes
message = 'It\'s also a valid string' # another way to handle strings with single quotes
message = '"Beautiful is better than ugly.". Said Tim Peters' # single quotes can be used when the string contains double quotes
message = r'C:\python\bin' # r is used to represent raw strings

Creating Multiline Strings

In [10]:
help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

Using variables in Python strings with the f-strings

In [11]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

Concatenating Python strings

In [12]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [13]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

Accessing string elements

In [14]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y

P
y

In [15]:
# negative indexing

str = "Python String"
print(str[-1])  # g
print(str[-2])  # n

g
n

Getting the length of a string

In [16]:
str = "Python String"
str_len = len(str)
print(str_len)

13

Slicing strings

In [17]:
str = "Python String"
print(str[0:2])

Py

Python strings are immutable

In [18]:
str = "Python String"
str[0] = 'J'

# this would throw an error

TypeError: 'str' object does not support item assignment

In [19]:
# modifying strings
str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

Jython String

#### Numbers

Integers

In [20]:
print(20 + 10)
print(20 - 10)
print(20 * 10)
print(20 / 10)
print(3**3)
print(20 / (10 + 10))

30
10
200
2.0
27
1.0

Floats

In [21]:
print(0.5 + 0.5)
print(0.5 - 0.5)
print(0.5 * 0.5)
print(0.5 / 0.5)

1.0
0.0
0.25
1.0

In [22]:
print(20 / 10) # division of two integers always returns a float
print(1 + 2.0) # arithmetic operation between an integer and a float will result in float

2.0
3.0

Underscores in numbers

In [23]:
# for representing large numbers
count = 10_000_000_000 # same as count = 10000000000

#### Booleans

To represent true and false

In [24]:
is_active = True
is_admin = False

# both are boolean variables

In [25]:
20 > 10

True

In [26]:
'a' > 'b'

False

bool() Function

In [27]:
print(bool('Hi'))
print(bool(''))
print(bool(100))
print(bool(0))

True
False
True
False

Falsy and Truthy values

The following are falsy values in Python:

- The number zero (0)
- An empty string ''
- False
- None
- An empty list []
- An empty tuple ()
- An empty dictionary {}
- The truthy values are the other values that aren’t falsy.

#### Constants

In [28]:
FILE_SIZE_LIMIT = 2000

# Python doesn’t support constants. These variables are constant by convention, not by rules.

#### Comments

Block Comments

In [29]:
price = 10

# increase price by 5%
price = price * 1.05

Inline Comments

In [30]:
salary = 15000
salary = salary * 1.02   # increase salary by 2%

Docstrings

In [31]:
""" This is a one-line doc string """

""" these are multi-line 
    doc strings
"""

' these are multi-line \n    doc strings\n'

#### Type conversion

Getting Input from users

In [33]:
value = input('Enter a value:')
print(value)

7

In [36]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')
print(type(price)) # price and tax are strings

tax_amount = int(price) * int(tax) / 100 # type cpnversion is used here
print(f'The tax amount is ${tax_amount}')

<class 'str'>
The tax amount is $5.0

Other type conversion functions

Besides the int(str) functions, Python supports other type conversion functions. The following shows the most important ones for now:

- float(str) – convert a string to a floating-point number.
- bool(val) – convert a value to a boolean value, either True or False.
- str(val) – return the string representation of a value.

Getting the type of a value

In [37]:
print(type(100))
print(type('Hello'))
print(type(True))

<class 'int'>
<class 'str'>
<class 'bool'>

### Section 2 - Operators

#### Comparison operators

Python has six comparison operators, which are as follows:

- Less than ( < )
- Less than or equal to (<=)
- Greater than (>)
- Greater than or equal to (>=)
- Equal to ( == )
- Not equal to ( != )

These comparison operators compare two values and return a boolean value, either True or False.

Less than Operator (<)

In [38]:
print(10 < 20)
print(30 < 20)

print('apple' < 'orange') # checks for alphabetical order
print('banana' < 'apple')

True
False
True
False

Less than or Equal to Operator (<=)

In [39]:
x = 10
y = 20
print(x <= y)
print(y <= x)

True
False

Greater than Operator (>)

In [40]:
print(20 > 10)
print(20 > 20)

print('apple' > 'orange')
print('orange' > 'apple')

True
False
False
True

Greater than or Equal to Operator (>=)

In [41]:
print(20 >= 10)
print(20 >= 20)
print(10 >= 20)

print('apple' >= 'apple')
print('apple' >= 'orange')
print('orange' >= 'apple')

True
True
False
True
False
True

Equal to Operator (==)

In [42]:
print(20 == 10)
print(20 == 20)

print('apple' == 'apple')
print('apple' == 'orange')

False
True
True
False

Not Equal to Operator (!=)

In [43]:
print(20 != 20)
print('apple' != 'orange')

False
True

#### Logical operators

and operator

In [44]:
# returns True if both conditions are Tru
price = 9.99
print(price > 9 and price < 10)
print(price > 10 and price < 20)

True
False

or operator

In [45]:
print(price > 9 or price < 10)
print(price > 10 or price < 20)
print(price > 10 or price < 5)

True
True
False

not operator

In [46]:
print(not price > 10)
print(not (price > 5 and price < 10))

True
False

Precedence

- not	> High
- and	> Medium
- or    > Low

### Section 3 - Control Flow

#### if…else statement

In [48]:
age = input('Enter your age:')
print(age)
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

56
You're eligible to vote.

In [49]:
age = input('Enter your age:')

# convert the string to int
your_age = int(age)
print(your_age)

# determine the ticket price
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

4
You'll pay $5 for the ticket

#### Ternary operator

In [51]:
# without ternary operator
age = input('Enter your age:')
print(age)

if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

print(f"The ticket price is {ticket_price}")

19
The ticket price is 20

In [52]:
# with ternary operator
age = input('Enter your age:')
print(age)

ticket_price = 20 if int(age) >= 18 else 5
print(f"The ticket price is {ticket_price}")

4
The ticket price is 5

#### for loop with range()

In [53]:
for index in range(5):
    print(index, end = " ")

0 1 2 3 4

Specifying the starting value for the sequence

In [54]:
for index in range(1, 6):
    print(index, end = " ")

1 2 3 4 5

In [55]:
for index in range(0, 11, 2):
    print(index, end = " ")

0 2 4 6 8 10

In [56]:
# calculating sum of a sequence
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

Specifying the increment for the sequence

#### while

In [57]:
max = 5
counter = 0

while counter < max:
    print(counter, end = " ")
    counter += 1

0 1 2 3 4

#### break

break statement with for loop

In [58]:
for index in range(0, 10):
    print(index, end= " ")
    if index == 3:
        break

0 1 2 3

In [59]:
for x in range(5):
    for y in range(5):
        # terminate the innermost loop
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})", end = " ")

(0,0) (0,1) (1,0) (1,1) (2,0) (2,1) (3,0) (3,1) (4,0) (4,1)

break statement with a while loop

In [60]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break
    else:
        print(color)

-- Help: type quit to exit --



blue
purple

#### continue

continue statement with for loop

In [61]:
for index in range(10):
    if index % 2:
        continue

    print(index, end= " ")

0 2 4 6 8

continue in a while loop

In [62]:
# print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter, end= " ")

1 3 5 7 9

#### pass

In [63]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    pass # do nothing or to be implemented later
print(counter)

2

pass statement with the if statement

In [64]:
if counter<10:
    pass

pass statement with the for statement

In [65]:
for i in range(1,100):
    pass

pass statement with the while statement

In [66]:
while counter>10:
    pass

pass statement with functions and classes

In [67]:
def fn():
    pass
class Stream:
    pass

### Section 4 - Functions

#### Functions

Defining a Python function

In [68]:
def greet(): # function definition
    """ Display a greeting to users """ # Function
    print('Hi')                         # body

Calling a function

In [69]:
greet() # function call

Hi

Passing information to Python functions

In [70]:
def greet(name):
    print(f"Hi {name}")

greet('Saadhana')

Hi Saadhana

Parameters vs. Arguments

- A parameter is a piece of information that a function needs. And you specify the parameter in the function definition.
- An argument is a piece of data that you pass into the function.

Returning a value

In [71]:
def greet(name):
    return f"Hi {name}"

greeting = greet('Saadhana')
greeting

'Hi Saadhana'

Multiple Parameters

In [72]:
def sum(a, b):
    return a + b


total = sum(10,20)
print(total)

30

#### Default Parameters

In [73]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('Saadhana', 'Hello') # sending a value for each parameter
print(greeting)

greet("Saadhana") # using the default value for message

Hello Saadhana

'Hi Saadhana'

Multiple default parameters

In [74]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"

print(greet())

print(greet('Hello'))

print(greet(message='Hello'))

Hi there
Hi Hello
Hello there

#### Keyword Arguments

In [75]:
def get_net_price(price, discount):
    return price * (1-discount)

net_price = get_net_price(100, 0.1) # this would yield the correct answer
print(net_price)

net_price = get_net_price(0.1, 100) # however, this would yield the wrong answer as each argument is passed as a positional argument
print(net_price)

net_price = get_net_price(discount=0.1, price=100) # this would result in the correct answer without positional dependency
print(net_price)

net_price = get_net_price(100, discount=0.1)
print(net_price)

90.0
-9.9
90.0
90.0

Keyword arguments and default parameters

In [76]:
def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

net_price = get_net_price(100)
print(net_price)

net_price = get_net_price(100, 0.06) # here 100 is assigned to price and 0.06 is assigned to tax
print(net_price)

net_price = get_net_price(price=100, discount=0.06) # to assign 0.06 to discount
print(net_price)

net_price = get_net_price(100, discount=0.06) # mixing positional and keyword arguments
print(net_price)

102.0
101.0
101.0
101.0

Keyword argument requirements

- Once you use a keyword argument, you need to use keyword arguments for the remaining parameters.

In [77]:
# net_price = get_net_price(100, tax=0.08, 0.06) would throw an error
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

#### Recursive Functions

In [78]:
# without recursive function
def count_down(start):
    """ Count down from a number  """
    print(start)

count_down(3)
count_down(2)
count_down(1)

3
2
1

In [79]:
def count_down(start):
    """ Count down from a number  """
    print(start)

    # call the count_down if the next
    # number is greater than 0
    next = start - 1
    if next > 0: # recursive functions must always have a stopping condition
        count_down(next)

count_down(3)

3
2
1

Sum of a Sequence with Recursive functions

In [80]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0

result = sum(100)
print(result)

5050

In [81]:
# using recursion and the ternary operator
def sum(n):
    return n + sum(n-1) if n > 0 else 0

result = sum(100)
print(result)

5050

#### Lambda Expressions

- Python lambda expressions allow you to define anonymous functions.
- A lambda expression typically contains one or more arguments, but it can have only one expression.

In [82]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)
    
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"

def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

In [83]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name)

full_name = get_full_name('John', 'Doe', last_first)
print(full_name)

John Doe
Doe, John

In [84]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

In [85]:
def times(n):
    return lambda x: x * n
double = times(2)
result = double(2)
print(result)

result = double(3)
print(result)

4
6

In [86]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

In [87]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

#### Docstrings

In [88]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [89]:
def add(a, b):
    "Return the sum of two arguments"
    return a + b

help(add)

Help on function add in module __main__:

add(a, b)
    Return the sum of two arguments

In [90]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

help(add)

Help on function add in module __main__:

add(a, b)
    Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments

In [91]:
add.__doc__

' Add two arguments\n    Arguments:\n        a: an integer\n        b: an integer\n    Returns:\n        The sum of the two arguments\n    '

### Section 5 - Lists

#### List

In [92]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [93]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

Accessing elements in a list

In [94]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[0])
print(numbers[1])
print(numbers[-1])
print(numbers[-2])

1
3
4
9

Modifying, adding, and removing elements

In [95]:
# modifying
numbers[0] = 10 # changing an element
print(numbers)


numbers[1] = numbers[1]*10 # multiplying one element with 10
print(numbers)

numbers[2] /= 2 # dividing one element with 10
print(numbers)

[10, 3, 2, 7, 9, 4]
[10, 30, 2, 7, 9, 4]
[10, 30, 1.0, 7, 9, 4]

In [96]:
# adding elements
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)
print(numbers)

numbers.insert(2, 100)
print(numbers)

[1, 3, 2, 7, 9, 4, 100]
[1, 3, 100, 2, 7, 9, 4, 100]

In [97]:
# removing elements
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]
print(numbers)

last = numbers.pop()
print(last)
print(numbers)

second = numbers.pop(1)
print(second)
print(numbers)

numbers.remove(9)
print(numbers)

[3, 2, 7, 9, 4]
4
[3, 2, 7, 9]
2
[3, 7, 9]
[3, 7]

#### Tuple

In [98]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [99]:
# tuples are immutable
rgb = ('red', 'green', 'blue')
rgb[0] = 'yellow'

TypeError: 'tuple' object does not support item assignment

Defining a tuple that has one element

In [100]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [101]:
numbers = (3)
print(type(numbers))

<class 'int'>

Assigning a tuple

In [102]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

#### Sort a List in place

Sorting a list of strings

In [103]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [104]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

Sorting a list of numbers

In [105]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [106]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

[9, 8, 7, 6, 5, 4]

Sorting a list of tuples

In [107]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

def sort_key(company):
    return company[2]

companies.sort(key=sort_key, reverse=True)

# show the sorted companies
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

Using lambda expression

In [108]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

#### Sort a List

Sorting Strings using sort()

In [109]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [110]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests, reverse=True)

print(sorted_guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

#### Slice a List

In [111]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [112]:
# to get the n-first elements
sub_colors = colors[:3]
print(sub_colors)

# to get the n-last elements
sub_colors = colors[-3:]
print(sub_colors)

# to get every nth element 
sub_colors = colors[::2]
print(sub_colors)

# to reverse a list
reversed_colors = colors[::-1]
print(reversed_colors)

# to substitute part of a list
colors[0:2] = ['black', 'white']
print(colors)

# to partially replace and resize a list
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")

# to delete elements
del colors[2:5]
print(colors)

['red', 'orange', 'yellow']
['blue', 'indigo', 'violet']
['red', 'yellow', 'blue', 'violet']
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements
['black', 'white', 'blue', 'indigo', 'violet']

#### Unpack a List

In [113]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [114]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

#### Iterate over a List

In [115]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

In [116]:
# with indices
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [117]:
# to access index using enumerate
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [118]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

#### Finding the index of an element

In [119]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [120]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Osaka')
print(result)

ValueError: 'Osaka' is not in list

In [121]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.

#### Iterables

In [122]:
# range function
for index in range(3):
    print(index)

# strings
str = 'Iterables'
for ch in str:
    print(ch)

# lists and tuples
ranks = ['high', 'medium', 'low']
for rank in ranks:
    print(rank)

0
1
2
I
t
e
r
a
b
l
e
s
high
medium
low

In [123]:
# next function
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

StopIteration:

In [124]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

#### Transform list elements with map()

In [125]:
bonuses = [100, 200, 300]
new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [126]:
def double(bonus):
    return bonus * 2

bonuses = [100, 200, 300]

iterator = map(double, bonuses)
print(list(iterator))

iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]
[200, 400, 600]
[200, 400, 600]

In [127]:
# map() function for a list of strings
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

# map() function to a list of tuples
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

['David', 'Peter', 'Jenifer']
[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

#### Filter list elements with filter()

In [128]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [129]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

In [130]:
# filter() function to filter a list of tuples
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)
print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

#### Reduce list elements into a value with reduce()

In [131]:
# without using reduce()
scores = [75, 65, 80, 95, 50]
total = 0

for score in scores:
    total += score

print(total)

365

In [132]:
# using reduce()
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b

scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [133]:
scores = [75, 65, 80, 95, 50]
total = reduce(lambda a, b: a + b, scores)

print(total)

365

#### List comprehensions

In [134]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [135]:
# list comprehension with a condition
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))
print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [136]:
# replacing filter() with a lambda function
highest_mountains = [m for m in mountains if m[1] > 8600]
print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

### Section 6 - Dictionaries

#### Dictionary

A Python dictionary is a collection of key-value pairs where each key is associated with a value.

In [137]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(type(person))

<class 'dict'>

Accessing values in a Dictionary

In [138]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

# using square brackets
print(person['first_name'])
print(person['last_name'])

# using get()
ssn = person.get('ssn')
print(ssn)
ssn = person.get('ssn', '000-00-0000') # defualt value
print(ssn)

John
Doe
None
000-00-0000

Adding new key-value pairs

In [139]:
person['gender'] = 'Famale'
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'favorite_colors': ['blue', 'green'],
 'active': True,
 'gender': 'Famale'}

Modifying values in a key-value pair

In [140]:
person['age'] = 26
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 26,
 'favorite_colors': ['blue', 'green'],
 'active': True,
 'gender': 'Famale'}

Removing key-value pairs

In [141]:
del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'gender': 'Famale'}

Looping through a dictionary

In [142]:
# Looping all key-value pairs
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())
for key, value in person.items():
    print(f"{key}: {value}")
print("\n")


# Looping through all the keys
for key in person.keys():
    print(key)
print("\n")
for key in person:
    print(key)
print("\n")

# Looping through all the values
for value in person.values():
    print(value)

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])
first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True


first_name
last_name
age
favorite_colors
active


first_name
last_name
age
favorite_colors
active


John
Doe
25
['blue', 'green']
True

#### Dictionary Comprehension

In [143]:
# to transform a dictionary without dictionary comprehension
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)


# with dictionary comprehension
new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}
print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}
{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [144]:
# to filter a dictionary
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}
print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

### Section 7 - Sets

#### Set

In [145]:
skills = set()

if not skills:
    print('Empty sets are falsy')

skills = set(['Problem solving','Critical Thinking'])
print(skills)

Empty sets are falsy
{'Problem solving', 'Critical Thinking'}

In [146]:
characters = set('letter')
print(characters)
# no duplicates

{'l', 'e', 't', 'r'}

Getting sizes of a set

In [147]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

Checking if an element is in a set

In [148]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')


rating = 6

if rating not in ratings:
    print(f'The set does not contain {rating}')

The set contains 1
The set does not contain 6

Adding elements to a set

In [149]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Software design', 'Problem solving', 'Python programming'}

Removing an element from a set

In [150]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

skills.remove('Java')

{'Problem solving', 'Python programming'}

KeyError: 'Java'

In [151]:
skills = {'Problem solving', 'Software design', 'Python programming'}
if 'Java' in skills:
    skills.remove('Java')
skills

{'Problem solving', 'Python programming', 'Software design'}

In [152]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

Returning an element from a set

In [153]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Software design

Removing all elements from a set

In [154]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

set()

Frozen a set

In [155]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

skills.add('Django')

AttributeError: 'frozenset' object has no attribute 'add'

Looping through set elements

In [156]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Software design
Problem solving
Python programming

In [157]:
# to access index
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")


print("\n")
# changing default index
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

0.Software design
1.Problem solving
2.Python programming


1.Software design
2.Problem solving
3.Python programming

#### Set Comprehension

In [158]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [159]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [160]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

with an if clause

In [161]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'django', 'pandas'}

#### Union

In [162]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Java', 'Python'}

In [163]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'C#', 'Java', 'Python'}

union() method vs. set union operator

In [164]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

#### Intersection

In [167]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'Java', 'C++'}

In [168]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'Java', 'C++'}

Set intersection() method vs set intersection operator (&)

In [169]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

#### Difference

In [172]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [173]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

#### Symmetric Difference

In [174]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

In [175]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

#### Subset

In [176]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))
print(numbers.issubset(numbers))

True
True

In [177]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

#### Superset

In [178]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [179]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

In [180]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

In [181]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # True

True
False

#### Disjoint sets

In [182]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [183]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [184]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

### Section 8 - Exception Handling

#### try... except

In [185]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Error! Please enter a number for net sales.

In [186]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
    
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Sales increase 60.0%

In [187]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')

Enter the net sales for
Error! Please enter a number for net sales.

#### try... except.. finally

In [188]:
a = 10
b = 0

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

division by zero
Finishing up.

In [189]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

5.0
Finishing up.

#### try…except…else

In [190]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2


def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'


def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print(error)
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

main()

Your body mass index is 0.0
This is considered underweight!

In [191]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup:')
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    except KeyboardInterrupt:
        break
    else:
        print(fruit)
    finally:
        print('Press Ctrl-C to exit.')

10
Press Ctrl-C to exit.
Error! ep does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.

### Section 9 - Python Loops

#### for... else

In [1]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

for person in people:
    if person['name'] == name:
        print(person)
        break
else:
    print(f'{name} not found!')

 not found!

#### while... else

In [2]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 30 banana(s)

#### do... while

In [3]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

# The first attempt
input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
attempt += 1

if input_number > secret_number:
    print('It should be smaller.')
elif input_number < secret_number:
    print('It should be bigger.')
else:
    print(f'Bingo! {attempt} attempt(s)')

# From the second attempt
while input_number != secret_number:

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
    attempt += 1

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')

It should be bigger.
Bingo! 2 attempt(s)

### Section 10 - Python Functions

#### Unpacking Tuples

In [4]:
x, y = (1, 2)

In [5]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

In [6]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [7]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [8]:
r, g, *other = (192, 210, 100, 0.5)

In [9]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

#### *args Parameters

In [10]:
x, y, *z = 10, 20, 30, 40

print(x)
print(y)
print(z)

10
20
[30, 40]

In [11]:

def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [12]:
def add(*args):
    print(args)


add(1,2,3)

(1, 2, 3)

In [13]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [14]:
def add(x, y, *args, z):
    return x + y + sum(args) + z


add(10, 20, 30, 40, z=50)

150

In [15]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

#### **kwargs Parameters

In [16]:
def connect(**kwargs):
    print(kwargs)


config = {'server': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'Py1thon!Xt12'}

connect(**config)

{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1thon!Xt12'}

In [17]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)

fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

#### Partial functions

In [18]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)  # 20

20

In [19]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

In [20]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20

#### Type hints

In [21]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [22]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123

In [23]:
!pip install mypy

Requirement already satisfied: mypy in c:\users\saadsrin\umich\ece5831-2024\lib\site-packages (1.11.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saadsrin\umich\ece5831-2024\lib\site-packages (from mypy) (4.12.2)
Requirement already satisfied: mypy-extensions>=1.0.0 in c:\users\saadsrin\umich\ece5831-2024\lib\site-packages (from mypy) (1.0.0)

In [24]:
from typing import Union

def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y

print(add(5, 10.5))

15.5

In [25]:
def add(x: int | float, y: int | float) -> int | float:
    return x + y

print(add(5, 10))

15

In [26]:
from typing import Union

number = Union[int, float]

def add(x: number, y: number) -> number:
    return x + y

print(add(5, 10.5))

15.5

In [27]:
from typing import List, Dict

ratings: List[int] = [1, 2, 3]
ratings_dict: Dict[int, str] = {1: 'Bad', 2: 'average', 3: 'Good'}

In [28]:
def log(message: str) -> None:
    print(message)

log("This is a log message")

This is a log message